
:root{
    --primary-color: #2563EB;
    --secondary-color: #1F2937;
    --text-color: #ffff;
    --textLight: rgb(161, 151, 151);
    --background-color: #111827;
}
body{
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.container{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.headerTitle{
    display: flex;
    justify-content: center;
    align-items: center;
}
.headerTitle i{
    font-size: 30px;
    color: var(--primary-color);
    margin-right: 10px;
}
.input-container{
    background-color: var(--secondary-color);
    box-shadow: 10px 10px 10px rgba(0,0,0,0.1);
    border-radius: 10px;
    padding: 20px;
}
input{
    padding: 10px;
    border-radius: 5px;
    border: 1px solid var(--textLight);
    margin-right: 10px;
    width: 300px;
    background-color: var(--background-color);
    color: var(--text-color);
    outline: none;
}
button{
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: var(--primary-color);
    cursor: pointer;
    font-weight: bold;
    color: var(--text-color);
}
.item-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    background-color: var(--secondary-color);
    box-shadow: 10px 10px 10px rgba(0,0,0,0.1);
    border-radius: 10px;
    width: 420px;
    padding: 20px;
  }
  
  .itemsList {
    list-style: none;
    width: 100%;
    padding: 0;
    margin: 0;
  }
  
  .item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-color);
    padding: 5px 10px;
    margin: 10px 0;
    border-radius: 8px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.05);
  }
  
  .task-content {
    display: flex;
    align-items: center;
    gap: 10px; /* Space between checkbox and text */
  }
  
  .checkbox {
    width: 16px;
    height: 16px;
    cursor: pointer;
    border-radius: 50%;
  }
  .deleteButton {
    background: none;
    border: none;
    color: #e74c3c;
    font-size: 18px;
    cursor: pointer;
  }
  
  .deleteButton:hover {
    color: red;
  }
  
  
